body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.container-header {
    max-width: 1970px;
    margin: auto;
    background-image: url(../img/bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1170px;
    margin: auto;
    border-bottom: 2px solid #4f5168;
    width: 95%;
    z-index: 100;
}
.header-wrap{
    z-index: 9999;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}
.header-wrap.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    max-width: 1970px;
    margin: auto;
    background: rgb(58, 62, 100)
}

.close{
    display: none;
}
.logo {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}

.logo-first {
    color: #66697e;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.menu-link {
    color: #c8c9d0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 59px;
}
.menu-link:hover{
    color: #ffffff;
}
.container-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
    color: #fff;
    width: 861px;
    text-align: center;
    margin-bottom: 3%;
}

.discription {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    width: 912px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
}

.btn-preview {
    border: none;
    color: #fff;
    width: 200px;
    height: 46px;
    background-color: #e84545;
    margin-bottom: 100px;
}

.btn-preview:hover {
    background-color: #c03b3b;
}

.btn-preview:active,
.btn-preview:focus {
    outline: none;
}

.btn-preview::-moz-focus-inner {
    border: 0;
}

.container-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1170px;
    margin-top: 10%;
    margin-bottom: 6%;   
}

.item {
    width: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.item-heading {
    color: #2d3033;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 25px;
}

.item-discroption {
    margin-top: 0;
    text-align: center;
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.container-project{
    display: flex;
    flex-wrap: wrap;
    max-width: 1970px;
    justify-content: center;
    margin-top: 50px;
    margin: auto;
}
.project-heading{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.project-discription{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.project-a{
    background-image: url(../img/a.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-a:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/a.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-b{
    background-image: url(../img/b.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-b:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/b.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-c{
    background-image: url(../img/c.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-c:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/c.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-d{
    background-image: url(../img/d.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-d:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/d.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-e{
    background-image: url(../img/e.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-e:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/e.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-f{
    background-image: url(../img/f.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-f:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/f.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-g{
    background-image: url(../img/g.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-g:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/g.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.project-h{
    background-image: url(../img/h.jpg);
    width: 480px;
    height: 350px;
    object-fit: cover;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: transparent;
}
.project-h:hover{
    background: linear-gradient(180deg, rgba(232, 69, 69, 0.9), rgba(232, 69, 69, 0.9)), url(../img/h.jpg);
    color: #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.container-staff{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 101px;
    justify-content: space-evenly;
}
.staff{
    width: 270px;

}
.staff-img{
    width: 270px;
    height: 270px;
}
.staff-name{
    display: block;
    color: #2d3033;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
}
.profession{
    display: block;
    color: #e84545;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 16px;
}
.profession-discription{
    display: block;
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 29px;
}
.mine-swiper{
    max-width: 1970px;
    margin: auto;
    background-color: #53354a;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}
.swiper-container {
    width: 50%;
}
  .swiper-slide {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
  }
  .swiper-pagination{
      padding-bottom: 30px;
  }
  .text-swiper{
    color: #ffffff;
    font-family: Cardo;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
  }
  .text-swiper-buttom{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
  }
  .img-swiper{
      width: 50%;
      min-width: 500px;
      margin: auto;
  }
  .container-dowland{
      max-width: 1170px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
  }
  .dowland-heading{
    font-family: Raleway;
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
    margin: 0;
    padding: 0;
  }
  .dowland-discription{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 16px;
    padding: 0;
  }
  .dowland-btn {
    border: none;
    color: #fff;
    width: 280px;
    height: 46px;
    background-color: #e84545;
    margin-top: 40px;
}

.dowland-btn:hover {
    background-color: #c03b3b;
}

.dowland-btn:active,
.dowland-btn:focus {
    outline: none;
}

.dowland-btn::-moz-focus-inner {
    border: 0;
}
.contauner-bottom{
    margin: auto;
    max-width: 1970px;
    background-color: #3a3e64;
    margin-top: 100px;
    padding-bottom: 88px;
}
.wraper-bottom{
    margin: auto;
    max-width: 1017px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.location, .about,.share{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
   
}
.location{
    max-width: 146px;
    float: left;
}
.about{
    max-width: 328px;
}
.share{
    max-width: 134px;
    margin-left: 180px;
}
.bottom-heading{
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.bottom-discription{
    opacity: 0.5;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
    margin-top: 22px;
    padding-top: 0;
}
.imgs-wraper{
    display: flex;
    margin-top: 21px;
}
.fb,.tw,.inst{

 border: 2px solid #ffffff;
}
.fb{
    padding: 11px 16px;
    margin-right: 7px;
}
.tw{
    padding: 13px 10px;
    margin-right: 7px; 
}
.inst{
    padding: 12px;
}

.up-img{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3a3e64;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: #ffffff 0px 0px 9px;
    z-index: 99999;
    padding: 5px;
}
@media(max-width:1500px){
     .project-a, .project-b, .project-c, .project-d, .project-e, .project-f, .project-g, .project-h{
         width: 347px;
         height: 256px;
     }
}
@media(max-width:1170px){
      .text-swiper{
        color: #ffffff;
        font-family: Cardo;
        font-size: 21px;
        line-height: 120%;
        text-align: left;
      }
      .text-swiper-buttom{
        font-family: Raleway;
        font-size: 9px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
      }
}
@media(max-width:1000px){
    
      .swiper-slide {
        padding-bottom: 30px;
      }
      .swiper-pagination{
          padding-bottom: 5px;
      }
      .img-swiper{
          width: 100%;
          margin: auto;
          min-width: 0px;
      }
}
@media(max-width:950px){
    .menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        padding-left: 50px;
        padding-top: 100px;
        width: 40%;
        height: 100vh;
        background-color: #3a3e64;
        z-index: 1;
        display: none;
    }
    .menu-active{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        background-color: #3a3e64;
        z-index: 1;
    }
    .menu-link{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        font-size: 14px;
        display: block;
    }
    .close{
        position: absolute;
        right: 30px;
        top: 40px;
        z-index: 10;
        display: block;
    }
    .heading {
        font-size: 40px;
        width: 550px;
        line-height: 120%;
    }
    
    .discription {
        font-size: 14px;
        line-height: 120%;
        width: 500px;
    }
    .location{
        max-width: 156px;
        float: left;
        padding: 5px;
        margin: auto;
        margin-top: 30px;
    }
    .about{
        max-width: 160px;
        padding: 5px;
        margin: auto;
        margin-top: 30px;
    }
    .share{
        max-width: 145px;
        margin-left: 0;
        padding: 5px;
        margin: auto;
        margin-top: 30px;
    }
 
}
@media(max-width:650px){
    .dowland-heading{
        font-size: 17px;
      }
    }
    .dowland-discription{
        font-size: 10px;
    }
@media(max-width:580px){
    
    .heading {
        font-size: 30px;
        width: 350px;
        line-height: 120%;
    }
    
    .discription {
        font-size: 10px;
        line-height: 120%;
        width: 300px;
    }
}